$darkblue: #1E7BA0;
.center {
  max-width: 1040px;
  margin: 0 auto;
}

header {
  background-color: $darkblue;
  &, & h1, & h1 a, , & h1 a:hover {
    color: #fff;
    text-decoration: none;
  }

  h1 {
    float: left;
    margin: 0;
  }

  h1 a {
    background: transparent url(image_path('record_sign.png')) no-repeat 0.1em center;
    padding: 0.25em 0.2em 0.25em 1.8em;
    float: left;
  }

  .new-podcast-button {
    width: 50px;
    color: #fff;
    font-size: 2.125em;
    float: right;
    display: block;
    line-height: 1.2125em;
    padding: 0.25em 0;
    text-align: center;
  }

  a:hover {
    background-color: lighten($darkblue, 10%);
  }
}

@media only screen and (min-width: 768px) {
  header {
    .new-podcast-button {
      font-size: 2.75em;
      line-height: 1.4;
    }
  }
}

table {
  border: none;
  border-collapse: collapse;
}

.button {
  box-shadow: none;
  border: none;
  border-radius: 2px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 20px; /* bottom = footer height */
    position: static;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

table {
  width: 100%;
}

div.buttons {
  margin: 20px 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.button.alert {
  color: #fff;
}

.alert-box.alert {
  border-radius: 2px;
}

dl {
  dt {
    width: 30%;
    float: left;
  }

  dd {
    width: 70%;
    float: left;
  }
}

.pagination-centered {
  margin-top: 20px;
}

footer {
  font-size: 13px;
  &, & a {
    color: #888;
  }
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;
  width: 100%;
  div div {
    text-align: center;
  }
}
